<ol>Employee 1 Detail:
    <ul>
        <li>{{ employees[0].id}} </li>
        <li>{{ employees[0].name}} </li>
        <li>{{ employees[0].department}} </li>
        <li>{{ employees[0].salary}} </li>
        <li>{{ employees[0].isActive}} </li>
    </ul>
</ol>

<ol>Employee 2 Detail:
    <ul>
        <li>{{ employees[1].id}} </li>
        <li>{{ employees[1].name}} </li>
        <li>{{ employees[1].department}} </li>
        <li>{{ employees[1].salary}} </li>
        <li>{{ employees[1].isActive}} </li>
    </ul>
</ol>

<ol>Employee 3 Detail:
    <ul>
        <li>{{ employees[2].id}} </li>
        <li>{{ employees[2].name}} </li>
        <li>{{ employees[2].department}} </li>
        <li>{{ employees[2].salary}} </li>
        <li>{{ employees[2].isActive}} </li>
    </ul>
</ol>