<!-- employee-status componnet -->
<!-- <app-employee-status></app-employee-status> -->


<!-- product-details componnet -->
<!-- <app-product-details> </app-product-details> -->


<!-- employee-card componnet -->
<!-- <app-employee-card> </app-employee-card> -->


<!-- employee-list componnet -->
<!-- <app-employee-list></app-employee-list> -->


<!-- product-list componnet -->
<!-- <app-product-list></app-product-list> -->


<!-- order-summary componnet -->
<!-- <app-order-summary></app-order-summary> -->


<!-- employee-role componnet -->
<!-- <app-employee-role></app-employee-role> -->


<!-- employee-function componnet -->
<!-- <app-employee-functions></app-employee-functions> -->


<!-- employee-function componnet -->
<!-- <app-employee-function></app-employee-function> -->


<!-- employee-bonus componnet -->
<!-- <app-employee-bonus></app-employee-bonus> -->


<!-- employee-contact componnet -->
<!-- <app-employee-contact></app-employee-contact> -->


<!-- employee-expense componnet -->
<app-employee-expense></app-employee-expense>