<h3>Products Detail</h3>

<ul>Product 1:
    <li> {{ products[0].id }} </li>
    <li> {{ products[0].name }} </li>
    <li> {{ products[0].price }} </li>
    <li> {{ products[0].category }} </li>
    <li> {{ products[0].inStock }} </li>
</ul>

<ul>Product 2:
    <li> {{ products[1].id }} </li>
    <li> {{ products[1].name }} </li>
    <li> {{ products[1].price }} </li>
    <li> {{ products[1].category }} </li>
    <li> {{ products[1].inStock }} </li>
</ul>


<ul>Product 3:
    <li> {{ products[2].id }} </li>
    <li> {{ products[2].name }} </li>
    <li> {{ products[2].price }} </li>
    <li> {{ products[2].category }} </li>
    <li> {{ products[2].inStock }} </li>
</ul>